<button nz-button nzType="primary" (click)="openAddModal()">Add Book</button>

<nz-table
  [nzData]="books"
  [nzPageSize]="8"
  [nzFrontPagination]="true"
  [nzScroll]="{ x: '1000px' }"
  [nzShowPagination]="books.length > 8"
  (nzPageIndexChange)="onPageChange($event)"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of listOfDisplayData">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.price | priceFormat }}</td>
      <td>
        <button nz-button nzType="link" nzShape="circle" (click)="openEditModal(book)">
          <i nz-icon nzType="edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table> 
